.space, .navbar-collapse ul li a{
    color: white!important; 
}
.navbar-collapse ul li a:hover{
    color: black!important;
}
.home{
    margin-top: 100px;
}
.home h1{
    text-align: center;
    color: #4981aa;
}
.home p{
    text-align: justify;
    padding: 75px;
}

.home ul {
    text-align: justify;
    padding: 75px;
}

.home p a{
   color: #4981aa;  
   text-decoration: underline; 
   font-weight: 700;
}
.home p a:hover{
    color: black;  
    
 }
.formuls{
    padding: 75px;
}
#calculator{
    margin-left: 75px;
}
.col-form-label{
    margin-right: 50px;
    font-size: small;
}
h3{
    margin-bottom: 10px;
    color: #4981aa;
}
.inputs p{
    font-size: small;
}

.earth{
    color: #4981aa;
    margin-bottom: 30px;
}
.btn{
    color: white;
    font-weight: bolder;
    
}
.btn a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
.btn a:hover{
    color: black;
  
}
.last{
    margin-bottom: 30px;
}
.results h2{
    text-align: center;
    margin-bottom: 60px;
    color: #4981aa;
}


#magnetosphere-earth{
    margin-left: 75px;
margin-top: 100px;
}
.magnetosphere-earth h2{
    text-align: center;
    margin-bottom: 60px;
    color: #4981aa;
}
#plot{
    text-align: center;
    color: #4981aa;
    margin-bottom: 20px;
}
.footer1 {
    margin-top: 50px;
}
.info-btn{
    text-align: center;
    margin-bottom: 100px;
    
}
.plnt li a{
    color: white!important;
}
.plnt li a:hover{
    color: black!important;
}

.noneEarth, .noneMars, .noneJupiter , .noneSaturn, .noneUranus, .noneNeptune {
    display: none;
}


.description{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 25px;
    margin-right: 25px;
}
.card-text{
line-height: 2rem;
}

.img-container {
    position: relative;
  }

  .img-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px; /* Adjust this value to control the width of the fade effect */
    background: linear-gradient(to right, transparent, white);
    pointer-events: none; /* Allows clicks to pass through the overlay to the image */
  }