
.home{
    margin-top: 100px;
}
.home h1{
    text-align: center;
    color: #4981aa;
}
.home p{
    text-align: justify;
    padding: 75px;
}
.formuls{
    padding: 75px;
}
#calculator{
    margin-left: 75px;
}
.col-form-label{
    margin-right: 50px;
    font-size: small;
}
h3{
    margin-bottom: 10px;
    color: #4981aa;
}
.inputs p{
    font-size: small;
}
.btn{
    color: white;
    font-weight: bolder;
}
.last{
    margin-bottom: 30px;
}
.results h2{
    text-align: center;
    margin-bottom: 60px;
    color: #4981aa;
}


#magnetosphere-earth{
    margin-left: 75px;
margin-top: 100px;
}
.magnetosphere-earth h2{
    text-align: center;
    margin-bottom: 60px;
    color: #4981aa;
}
a{
    color: white;
}